<div class="session-visual2">
  <div class="message-main-box">

  	<!-- 検索バーを設ける -->
    <div class="account-box">
      <h2 class="session-title center">主催者ユーザー一覧</h2>
      <div class="column-top"></div>

      <table class="table table-hover user-list">
        <thead>
          <tr>
            <th class="gazou center">画像</th>
            <th class="name center">名前</th>
            <th class="address center">Eメールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <% @regist_users.each do |regist_user| %>
            <tr>
              <td class="gazou center"><%= attachment_image_tag regist_user, :profile_image, fallback: "no_image.jpg",size: '40x40' %></td>
              <td class="name center"><%= regist_user.regist_name %></td>
              <td class="address center"><%= regist_user.email %></td>
              <td class="lisr center"><%= link_to "詳細", admin_regist_user_path(regist_user.id), class:"square_btn" %>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <%= link_to "編集", edit_admin_regist_user_path(regist_user.id), class:"square_btn" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @regist_users, class:"pagenate" %>

      <div class="column-top center">
        <%= link_to "戻る", :back, class:"square_btn" %>
      </div>
    </div>

  </div>
</div>