<div class="session-visual3">

  <div class="baloon center">
    <div class="baloon-contents">

    <h4 class="session-title"><日時></h4>
    <%= @event.year %>年<%= @event.month %>月<%= @event.start_time.day %>日
    <%= @event.start_time.hour %>：00<span>〜</span><%= @event.finish_time.hour %>：00<br><br>
    <h4 class="session-title"><タイトル></h4>
    <h2 class="session-title"><%= @event.title %></h2><br>
    <h4 class="session-title"><主催></h4>
    <p><%= @event.regist_user.regist_name %>さん</p><br>
    <h4 class="session-title"><詳細></h4>

    <%= attachment_image_tag @event, :event_image, :fill, 150, 150, class:"event-image block" %>
    <%= @event.content %>


    <%= form_for @event, url: approve_admin_event_path, method: :get do |f| %>
    <%#= form_for [:admin, @event] do |f| %>
    <div class="column-top center">
      <%= f.text_area :admin_message %>
    </div>
      <div class="column-top center">
        <%= submit_tag "承認する", class:"square_btn green" %>
        <%= submit_tag "否認する", name: "sayno", class:"square_btn red" %>
　　   </div>
    <% end %>

    </div>
  </div>


</div>
