<p id="notice"><%= notice %></p>

<p>
  <strong>Send user:</strong>
  <%= @board_message.send_user_id %>
</p>

<p>
  <strong>Receive user:</strong>
  <%= @board_message.receive_user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @board_message.body %>
</p>

<%= link_to 'Edit', edit_board_message_path(@board_message) %> |
<%= link_to 'Back', board_messages_path %>
