<div class="session-visual">
  <div class="message-main-box">
    <div class="account-box">

      <h2 class="session-title">退会の理由を教えてください</h2>
      <i>(複数回答可)</i>
      <div class="column-top">

        <%= check_box_tag :sample %>
        <%= label_tag :sample, "開催内容に対する設備が足りない", class:"syousai" %>
      </div>
      <div class="column-top">
        <%= check_box_tag :sample2 %>
        <%= label_tag :sample2, "立地の問題", class:"syousai" %>
      </div>
      <div class="column-top">
        <%= check_box_tag :sample3 %>
        <%= label_tag :sample3, "利用したい時間と合わない", class:"syousai" %>
      </div>
      <div class="column-top aa">
　　　　　<%= check_box_tag :sample4 %>
        <%= label_tag :sample4, "その他", class:"syousai" %>
        <%= text_field_tag :sample5 %>
      </div>

      </div>
      <div class="center">
      <%= link_to "退会する", regist_user_regist_user_path, data: { confirm: "本当によろしいですか?" }, class:"square_taikai_btn button-top", method: :delete %>
      </div>
    </div>
  </div>
</div>