<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :使用開始時間 %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :使用終了時間 %>
    <%= form.datetime_select :finish_time %>
  </div>

  <div class="field">
    <%= form.label :イベントタイトル %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :詳細 %>
    <%= form.text_area :content %>
  </div>

 <!--  <div class="field">
    <%#= form.label :admin_ok %>
    <%#= form.check_box :admin_ok %>
  </div> -->

  <!-- <div class="field">
    <%#= form.label :admin_message %>
    <%#= form.text_area :admin_message %>
  </div> -->

  <!-- <div class="field">
    <%#= form.label :admin_no %>
    <%#= form.check_box :admin_no %>
  </div> -->

  <div class="field">
    <%= form.label :参加人数 %>
    <%= form.number_field :participand %>
  </div>

  <div class="field">
    <%= form.label :"画像、チラシ添付" %>
    <%= form.number_field :event_image_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
