<div class="session-visual2">
  <div class="message-main-box">

    <div class="edit_account-box2-kid clearfix">
      <h2 class="session-title center">スペース使用予定<br>変更申請</h2>
      <p class="session-title center">(※箇所は必須入力)</p>
      <p class="alert"><%= alert %></p>

      <% if @event.event_image != nil %>
        <div class="center">
          <%= attachment_image_tag @event, :event_image, :fill, 150, 150, class:"event-image" %>
          <%= form_for(@event, url: no_image_regist_user_event_path) do |f| %>
            <%=f.submit "画像を外す", class:"square_taikai_btn" %>
          <% end %>
        </div>
      <% end %>

      <%= form_for([:regist_user, @event]) do |f| %>

        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field column-top">
          <h4 class="session-title center"><%= f.label :start_time, "使用日時 ※" %></h4>
        </div>

　　     <% today = Date.today %>
        <% month = today.month %>
        <% n_month = month + 1 %>
        <% n_n_month = month + 2 %>

        <% if month == 11 %>
          <% n_n_month = 1 %>
        <% elsif month == 12 %>
          <% n_month = 1 %>
          <% n_n_month = 2 %>
        <% end %>

        <div class="center">
          <%= select_tag 'a', options_for_select([month, n_month, n_n_month],@event.month), id:"a" %>月
          <%= select_tag 'b', options_for_select(((1..31).to_a),@event.day), :include_blank => true, id:"b" %>日
          <%= select_tag 'c', options_for_select(((10..21).to_a),@start_hour), :include_blank => true, class:"c" %>時 〜
          <%= select_tag 'd', options_for_select(((11..22.to_i).to_a),@finish_hour), :include_blank => true, class:"c" %>時
　      </div>

        <script>
          $(function(){
            $('#a').change(function() {
              var a = $(this).val();

              $.ajax({
                url: "/regist_user/events/pulldown",
                type: "GET",
                data: {"month": a},
                success: function(data) {
                //renderで返ってきたdataがどの値であってもまず日のせれくとボックスの最後を最小値の28にする。
                $('#b').children('[value="29"]').remove();
                $('#b').children('[value="30"]').remove();
                $('#b').children('[value="31"]').remove();

                if (data > 28) {
                  var select = document.getElementById('b');
                  var r = select.lastChild.value;
                // console.log(r);
                  diff = data - 28;
                  // alert(diff);
                  // 初期値を28にしといて足りない分だけeachで回してoptionタグを増やす
                  for (var i = 1; i <= diff; i++) {
                    k = 28 + i;
                    var option = document.createElement('option');
                    option.setAttribute('value', k);
                    option.textContent = k;
                    // option.val = k;
                    document.getElementById('b').appendChild(option);
                    }
                  }
                },
                error: function(data) {
                  alert("failed!");
                }
              });
            });
          });
        </script>

        <div class="field column-top center">
          <h4 class="session-title"><%= f.label :title, "タイトル ※" %></h4>
          <%= f.text_field :title, class:"input-size", name:"tentative_title" %>
        </div>

        <div class="field column-top center">
          <h4 class="session-title"><%= f.label :content, "イベントの詳細を説明してください ※" %></h4>
         <%= f.text_area :content, class:"input-size", name:"tentative_content" %>
        </div>

        <div class="field column-top center">
          <h4 class="session-title center"><%= f.label :participant, "参加人数 ※" %></h4>
          <%= f.number_field :participant, name:"tentative_participant" %> 人
        </div>

        <div class="field column-top center">
          <h4 class="session-title"><%= f.label :event_image, "画像、チラシ添付 or 変更" %></h4>
          <%= f.attachment_field :event_image, class:"margin", placeholder:"宣伝用画像" %>
        </div>


        <div class="column-top"></div>
        <ul class="nav nav-tabs center" role="tablist">
          <li class="active" role="presentation">
            <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">一階</a>
          </li>
          <li role="presentation">
            <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">二階</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab_a" role="tabpanel">
            <div id="first-floor">
              <div class="field column-top center">
                <h4 class="session-title"><%= f.label :content, "机を選択してください ※" %></h4>
              </div>
              <%= label "z", "t", value:1, id:"desk1" do %>
                <%= radio_button "z", "t", 1, {:checked => @desk1 }%>
                <div class="desk-number">1</div>
              <% end %>

              <%= label "z", "t", value:2, id:"desk2" do %>
                <%= radio_button "z", "t", 2, {:checked => @desk2 } %>
                <div class="desk-number">2</div>
              <% end %>

              <%= label "z", "t", value:3, id:"desk3" do %>
                <%= radio_button "z", "t", 3, {:checked => @desk3 } %>
                <div class="desk-number">3</div>
              <% end %>

              <%= label "z", "t", value:4, id:"desk4" do %>
                <%= radio_button "z", "t", 4, {:checked => @desk4 } %>
                <div class="desk-number">4</div>
              <% end %>

              <%= label "z", "t", value:5, id:"desk5" do %>
                <%= radio_button "z", "t", 5, {:checked => @desk5 } %>
                <div class="desk-number">5</div>
              <% end %>

              <div class="column-top left">
                <%= radio_button "z", "t", 8, {:checked => @desk8 } %>
                <p>テーブル1と2を借りる</p>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tab_b" role="tabpanel">
          <!-- 2階のコンテンツ -->
            <div id="second-floor">
              <div class="field column-top center">
                <h4 class="session-title"><%= f.label :content, "机を選択してください ※" %></h4>
              </div>
　　　　　
              <%= label "z", "t", value:6, id:"desk6" do %>
                <%= radio_button "z", "t", 6, {:checked => @desk6 } %>
                <div class="desk-number">6</div>
              <% end %>

              <%= label "z", "t", value:7, id:"desk7" do %>
                <%= radio_button "z", "t", 7, {:checked => @desk7 } %>
                <div class="desk-number">7</div>
              <% end %>
              <div class="left">
                <%= radio_button "z", "t", 9, {:checked => @desk9 } %>
                <p>2階を貸し切る</p>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="column-top center">
      <%= f.submit "変更申請をする", :class=>"square_btn navy" %>
      <% end %>
      <%= link_to "戻る", :back, class:"square_btn left" %>
    </div>
  </div>
</div>


  <%#= form_with(model: @past_event, local: true) do |form| %>