<div class="session-visual2">
  <div class="message-main-box">

  	<div class="edit_account-box2-kid clearfix">
      <h2 class="session-title center">スペース使用申請</h2>

      <p class="alert"><%= alert %></p>

      <%= form_for([:regist_user, @event]) do |f| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          </div>
        <% end %>

        <div class="field column-top">
          <h4 class="session-title center"><%= f.label :start_time, "使用日時" %></h4>
        </div>

　　     <% today = Date.today %>
        <% month = today.month %>
        <% n_month = month + 1 %>
        <% n_n_month = month + 2 %>

    <% if month == 11 %>
      <% n_n_month = 1 %>
      <% elsif month == 12 %>
        <% n_month = 1 %>
        <% n_n_month = 2 %>
    <% end %>

  <div class="center">
   <%= select_tag 'a', options_for_select(["", month, n_month, n_n_month]), id:"a", :selected =>"" %>月
   <%= select_tag 'b', options_for_select(((1..28).to_a)), id:"b", :selected =>"" %>日
   <%= select_tag 'c', options_for_select(((10..21).to_a)), class:"c" %>時 〜
   <%= select_tag 'd', options_for_select(((11..22.to_i).to_a)), class:"c" %>時
　</div>
    <p class="moji"></p>
    <div id="render"></div>
    <div class="modal"></div>


  <div id="modal-content">
    <%#= @event2.title %>
    <div id="days-event"></div>
    <p><a id="modal-close" class="button-link">閉じる</a></p>
  </div>

　

      <script>
        $(function(){
          $('#a').change(function() {

             var a = $(this).val();

             $.ajax({
               url: "/regist_user/events/pulldown",
               type: "GET",
               data: {"month": a},
               success: function(data) {
                 // alert(data);
                 if (data > 28) {
                   var select = document.getElementById('b');
                   var r = select.lastChild.value;
                   // console.log(r);
                  if (r > 28) {
                       $('#b').children('[value="29"]').remove();
                       $('#b').children('[value="30"]').remove();
                       $('#b').children('[value="31"]').remove();
                  }
                  diff = data - 28;
                    // alert(diff);
                   // 初期値を28にしといて足りない分だけeachで回してoptionタグを増やす
                  for (var i = 1; i <= diff; i++) {
                    k = 28 + i;

                    var option = document.createElement('option');
                    option.setAttribute('value', k);
                    option.textContent = k;
                    // option.val = k;
                    document.getElementById('b').appendChild(option);
                    }
                  }
             },
               error: function(data) {
                alert("failed!");
               }
              });
        });
        });


        // $(function(){
        //   $('#b').change(function(){
        //     if ($('#a').val() !== "") {

        //       var a = $('#a').val();
              // var b = $(this).val();
              // alert(a);


             // $.ajax({
             //   url: "/regist_user/events/modal",
             //   type: "GET",
             //   data: {"month": a, "day": b},
             //   success: function(data) {
             //     var k = (Object.keys(data).length);

             //     for (var i = 1; i <= k; i++) {
             //       alert(k);
             //       $("#days-event").text(data[0]["title"])
             //       $("#days-event").append('<br>')
             //       $("#days-event").append(data[0]["start_time"])
             //       $("#days-event").append('<br>')
             //       $("#days-event").append(data[0]["finish_time"])
             //       $("#days-event").append('<br>')


             //     }
             //     alert(k + 1);
             //     $("#modal-content").fadeIn("slow");
             //     $("#modal-overlay").fadeIn("slow");

             //   },
             //   error: function(data) {
             //     alert("failed!");

             //    }
             //   });



//               $(this).blur() ;  //ボタンからフォーカスを外す
//               if($("#modal-overlay")[0]) return false ;   //新しくモーダルウィンドウを起動しない [下とどちらか選択]
// //if($("#modal-overlay")[0]) $("#modal-overlay").remove() ;   //現在のモーダルウィンドウを削除して新しく起動する [上とどちらか選択]

//             //オーバーレイ用のHTMLコードを、[.modei]内の最後に生成する
//             $(".modal").append('<div id="modal-overlay"></div>');
//             alert("クリック");
//             $("#modal-content").fadeIn("slow");
//             $("#modal-overlay").fadeIn("slow");
//             alert("クリック1");
        //     }
        //   };
        // });

        // $("#modal-overlay,#modal-close").unbind().click(function(){
        //  //[#modal-overlay]、または[#modal-close]をクリックしたら起こる処理
        //   $("#modal-overlay").remove();
        //   $("#modal-content").remove();
        // });


      </script>






    <!--  <p id="jquery">jQuery稼働テスト(未稼働)</p>
      <script type="text/javascript">
      $(document).ready(function() {
          $("#jquery").text("jQUery稼働テスト(稼働中)");
         });

    </script> -->









  <div class="field column-top center">
    <h4 class="session-title"><%= f.label :title, "タイトル" %></h4>
    <%= f.text_field :title, class:"input-size" %>
  </div>

  <div class="field column-top center">
    <h4 class="session-title"><%= f.label :content, "イベントの詳細を説明してください" %></h4>
    <%= f.text_area :content, class:"input-size" %>
  </div>

  <div class="field column-top center">
    <h4 class="session-title center"><%= f.label :participant, "参加人数" %></h4>
    <%= f.number_field :participant %> 人
  </div>

  <div class="field column-top center">
    <h4 class="session-title"><%= f.label :event_image, "画像、チラシ添付" %></h4>
    <%= f.attachment_field :event_image, class:"margin", placeholder:"宣伝用画像" %>
  </div>



<div class="column-top"></div>

  <ul class="nav nav-tabs" role="tablist">
    <!-- <div class="left"> -->
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">一階</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">二階</a>
    </li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <div id="first-floor">

        <div id="desk1">
          <%= f.radio_button :desk, 1 %>
          <div class="desk-number">1</div>
        </div>
        <div id="desk2">
          <%= f.radio_button :desk, 2 %>
          <div class="desk-number">2</div>
        </div>
        <div id="desk3">
          <%= f.radio_button :desk, 3 %>
          <div class="desk-number">3</div>
        </div>
        <div id="desk4">
          <%= f.radio_button :desk, 4 %>
          <div class="desk-number">4</div>
        </div>
        <div id="desk5">
          <%= f.radio_button :desk, 5 %>
          <div class="desk-number">5</div>
        </div>

        <div class="column-top left">
        <%= f.radio_button :desk, 8 %>
        <p>テーブル1と2を借りる</p>
        </div>

      </div>


    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
        <!-- 2階のコンテンツ -->
      <div id="second-floor">
        <div id="desk6">
          <%= f.radio_button :desk, 6 %>
          <div class="desk-number">6</div>
        </div>
        <div id="desk7">
          <%= f.radio_button :desk, 7 %>
          <div class="desk-number">7</div>
        </div>

        <div class="column-top left">
        <%= f.radio_button :desk, 9 %>
        <p>2階を貸し切る</p>
        </div>
      </div>
    </div>
  </div>


</div>

  <div class="column-top center">
    <%= f.submit "使用申請をする", :class=>"square_btn navy" %>
    <%= link_to "戻る", :back, class:"square_btn left" %>
  </div>



<% end %>
  </div>
</div>




  <%#= form_with(model: @past_event, local: true) do |form| %>