<div class="session-visual2">
  <div class="message-main-box">

  	<div class="edit_account-box2-kid clearfix">
      <h2 class="session-title center">スペース使用申請</h2>

      <p class="alert"><%= alert %></p>

      <%= form_for([:regist_user, @event]) do |f| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          </div>
        <% end %>

        <div class="field column-top">
          <h4 class="session-title center"><%= f.label :start_time, "使用日時" %></h4>
    <!-- <div class="center"><%#= form.datetime_select :start_time %><span>〜</span> <%#= form.datetime_select :finish_time %> -->
        </div>

    <%# d = Date.new(2015, 2, 2, 0) %>
<%#binding. pry%>
　　     <% today = Date.today %>
        <% month = today.month %>
        <% n_month = month + 1 %>
        <% n_n_month = month + 2 %>

    <% if month = 11 %>
      <% n_n_month = 1 %>
      <%# today.year = 1 %>
      <% elsif month = 12 %>
        <% n_month = 1 %>
        <% n_n_month = 2 %>
    <% end %>

    <% diff = 28; %>

  <div class="center">
   <%= select_tag 'a', options_for_select(["", month, n_month, n_n_month]), id:"a", :selected =>"" %>月
   <%= select_tag 'b', options_for_select(((1..diff).to_a)), class:"b", :selected => "" %>日
   <%= select_tag 'c', options_for_select(((10..21).to_a)), class:"c" %>時 〜
   <%= select_tag 'd', options_for_select(((11..22.to_i).to_a)), class:"c" %>時
　</div>
    <p class="moji"></p>
    <div id="render"></div>


　

<!--       <script>
        $(function(){
          $('.a').change(function() {

          var a = $(this).val();
          alert(a)

             $.ajax({
               url: "/regist_user/events/pulldown",
               type: "GET",
               data: {"month": a},
               success: function(data) {
                alert("success!");
                alert(data);
                 if (data > 28) {
                   diff = data - 28;
                   alert(diff);
                 }
               },
               error: function(data) {
                alert("failed!");
               }
              });
        });
        });
      </script> -->

      <!-- 初期値を28にしといて足りない分だけeachで回してoptionタグを増やす -->











      <%#= select_tag 'b', options_for_select(((1..x).to_a)), class:"b", :selected => ""  %>

   <!--  <p>jQuery稼働テスト(未稼働)</p>
      <script type="text/javascript">
      $(document).ready(function() {
          $("p").text("jQUery稼働テスト(稼働中)");
         });

    </script> -->


<!-- //         (function($){
//   function formSetDay(){
//     var lastday = formSetLastDay($('.js-changeYear').val(), $('.js-changeMonth').val());
//     var option = '';
//     for (var i = 1; i <= lastday; i++) {
//       if (i === $('.js-changeDay').val()){
 //         option += '<option value="' + i + '" selected="selected">' + i + '</option>\n';
//       }else{
//         option += '<option value="' + i + '">' + i + '</option>\n';
//       }
//     }
//     $('.js-changeDay').html(option);
//   }

//   function formSetLastDay(year, month){
//     var lastday = new Array('', 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
//     if ((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0){
//       lastday[2] = 29;
//     }
//     return lastday[month];
//   }

//   $('.js-changeYear, .js-changeMonth').change(function(){
//     formSetDay();
//   });
// })(jQuery); -->



<!-- 
      <script>
        $(function(){
          $('#a').change(function(
            var y = $(' option:selected');
            )
        })
      </script> -->







  <div class="field column-top center">
    <h4 class="session-title"><%= f.label :title, "タイトル" %></h4>
    <%= f.text_field :title, class:"input-size" %>
  </div>

  <div class="field column-top center">
    <h4 class="session-title"><%= f.label :content, "イベントの詳細を説明してください" %></h4>
    <%= f.text_area :content, class:"input-size" %>
  </div>

  <div class="field column-top center">
    <h4 class="session-title center"><%= f.label :participant, "参加人数" %></h4>
    <%= f.number_field :participant %> 人
  </div>

  <div class="field column-top center">
    <h4 class="session-title"><%= f.label :event_image, "画像、チラシ添付" %></h4>
    <%= f.attachment_field :event_image, class:"margin", placeholder:"宣伝用画像" %>
  </div>



<div class="column-top"></div>

  <ul class="nav nav-tabs center" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">一階</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">二階</a>
    </li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <div id="first-floor">

        <div id="desk1">
          <%= f.radio_button :desk, 1 %>
          <div class="desk-number">1</div>
        </div>
        <div id="desk2">
          <%= f.radio_button :desk, 2 %>
          <div class="desk-number">2</div>
        </div>
        <div id="desk3">
          <%= f.radio_button :desk, 3 %>
          <div class="desk-number">3</div>
        </div>
        <div id="desk4">
          <%= f.radio_button :desk, 4 %>
          <div class="desk-number">4</div>
        </div>
        <div id="desk5">
          <%= f.radio_button :desk, 5 %>
          <div class="desk-number">5</div>
        </div>

        <%= f.radio_button :desk, 8 %>
        <p>テーブル1と2を借りる</p>

      </div>


    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
        <!-- 2階のコンテンツ -->
      <div id="second-floor">
        <div id="desk6">
          <%= f.radio_button :desk, 6 %>
          <div class="desk-number">6</div>
        </div>
        <div id="desk7">
          <%= f.radio_button :desk, 7 %>
          <div class="desk-number">7</div>
        </div>

        <%= f.radio_button :desk, 9 %>
        <p>2階を貸し切る</p>
      </div>
    </div>
  </div>


</div>

  <div class="column-top center">
    <%= f.submit "使用申請をする", :class=>"square_btn navy" %>
    <%= link_to "戻る", :back, class:"square_btn left" %>
  </div>



<% end %>
  </div>
</div>




  <%#= form_with(model: @past_event, local: true) do |form| %>