
<div class="session-visual3">
  <!-- <div class="message-main-box"> -->
  
  <div class="baloon center">

    <h4 class="session-title"><日時></h4>
    <%= @event.start_time.year %>/<%= @event.start_time.month %>/<%= @event.start_time.day %>
    <%= @event.start_time.hour %>時<%= @event.start_time.min %><span>〜</span><%= @event.finish_time.hour %>時<%= @event.finish_time.min %>分<br><br>
    <h4 class="session-title"><タイトル></h4>
    <h2 class="session-title"><%= @event.title %></h2><br>
    <h4 class="session-title"><主催></h4>
    <p><%= @event.regist_user.regist_name %>さん</p><br>
    <h4 class="session-title"><詳細></h4>
    <%= @event.content %>

    <div class="column-top center">
      <%= link_to "戻る", :back, class:"square_btn" %>
      <%= link_to "変更する", edit_regist_user_event_path(@event.id), class:"square_btn left navy" %>
      <%= link_to "削除する", :back, class:"square_taikai_btn left" %>
    </div>

  </div>

  <!-- </div> -->
</div>