<p id="notice"><%= notice %></p>

<h1>Past Events</h1>

<table>
  <thead>
    <tr>
      <th>Past start time</th>
      <th>Past finish time</th>
      <th>Past title</th>
      <th>Past content</th>
      <th>Past name</th>
      <th>Past user mail address</th>
      <th>Past participant</th>
      <th>Past event image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_events.each do |past_event| %>
      <tr>
        <td><%= past_event.past_start_time %></td>
        <td><%= past_event.past_finish_time %></td>
        <td><%= past_event.past_title %></td>
        <td><%= past_event.past_content %></td>
        <td><%= past_event.past_name %></td>
        <td><%= past_event.past_user_mail_address %></td>
        <td><%= past_event.past_participant %></td>
        <td><%= past_event.past_event_image_id %></td>
        <td><%= link_to 'Show', past_event %></td>
        <td><%= link_to 'Edit', edit_past_event_path(past_event) %></td>
        <td><%= link_to 'Destroy', past_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Past Event', new_past_event_path %>
