<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>Finish time:</strong>
  <%= @event.finish_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Regist user:</strong>
  <%= @event.regist_user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>Admin ok:</strong>
  <%= @event.admin_ok %>
</p>

<p>
  <strong>Admin message:</strong>
  <%= @event.admin_message %>
</p>

<p>
  <strong>Admin no:</strong>
  <%= @event.admin_no %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @event.participant %>
</p>

<p>
  <strong>Event image:</strong>
  <%= @event.event_image_id %>
</p>

<%#= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
