<div class="session-visual3">
  <!-- <div class="message-main-box"> -->

  <div class="baloon center">
    <div class="baloon-contents">

    <h4 class="session-title"><日時></h4>
<%= @event.start_time.year %>/<%= @event.start_time.month %>/<%= @event.start_time.day %>
    <%= @event.start_time.hour %><span>:00 〜 </span><%= @event.finish_time.hour %>:00
    <div class="column-top">
      <h4 class="session-title"><タイトル></h4>
      <h2 class="session-title"><%= @event.title %></h2>
    </div>
    <div class="column-top">
      <h4 class="session-title"><主催></h4>
      
      
      <%= mail_to "#{@event.regist_user.email}", "#{@event.regist_user.regist_name}さん", :cc => "", class:"non-deco mail", :subject => "test mail" %>
      <% if Time.now < @event.start_time %>
        <br><%= mail_to "#{@event.regist_user.email}", "参加連絡をする", :cc => "", class:"non-deco mail", :subject => "test mail" %>
      <% end %>

    </div>
    <div class="column-top">
      <h4 class="session-title"><詳細></h4>
      <% if @event.event_image_id != nil %>
        <%= attachment_image_tag @event, :event_image, :fill, 150, 150, class:"event-image block" %>
      <% end %>
        <%= @event.content %>
    </div>

    <div class="column-top center">
      <%= link_to "戻る", :back, class:"square_btn" %>
    </div>

    </div>
  </div>

  <!-- </div> -->
</div>