<%= form_with(model: desk_event, local: true) do |form| %>
  <% if desk_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desk_event.errors.count, "error") %> prohibited this desk_event from being saved:</h2>

      <ul>
      <% desk_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.number_field :event_id %>
  </div>

  <div class="field">
    <%= form.label :desk_id %>
    <%= form.number_field :desk_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
