<%= form_with(model: past_event, local: true) do |form| %>
  <% if past_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(past_event.errors.count, "error") %> prohibited this past_event from being saved:</h2>

      <ul>
      <% past_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :past_start_time %>
    <%= form.datetime_select :past_start_time %>
  </div>

  <div class="field">
    <%= form.label :past_finish_time %>
    <%= form.datetime_select :past_finish_time %>
  </div>

  <div class="field">
    <%= form.label :past_title %>
    <%= form.text_field :past_title %>
  </div>

  <div class="field">
    <%= form.label :past_content %>
    <%= form.text_area :past_content %>
  </div>

  <div class="field">
    <%= form.label :past_name %>
    <%= form.text_field :past_name %>
  </div>

  <div class="field">
    <%= form.label :past_user_mail_address %>
    <%= form.text_field :past_user_mail_address %>
  </div>

  <div class="field">
    <%= form.label :past_participant %>
    <%= form.number_field :past_participant %>
  </div>

  <div class="field">
    <%= form.label :past_event_image_id %>
    <%= form.number_field :past_event_image_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
