<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @desk_event.event_id %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @desk_event.desk_id %>
</p>

<%= link_to 'Edit', edit_desk_event_path(@desk_event) %> |
<%= link_to 'Back', desk_events_path %>
